* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #005293;
    /* Sweden blue */
    color: white;
    padding: 1rem;
}

header h1 {
    font-family: 'Cinzel', serif;
}

.hero img {
    width: 100%;
    height: auto;
}

.data,
.weather {
    background: #f4f4f4;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
}

h2 {
    background-color: #FECB00;
    /* Sweden yellow */
    color: #003366;
    padding: 0.5rem;
    border-radius: 4px;
}

ul {
    list-style: none;
    padding: 0;
}

.weather-icon {
    font-size: 3rem;
    margin: 1rem 0;
}

footer {
    background-color: #005293;
    color: white;
    padding: 1rem;
    font-size: 0.9rem;
}