@media (min-width: 900px) {

    main {
        max-width: 1200px;
        margin: auto;

        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "data hero weather";
        gap: 1rem;
        align-items: start;
    }

    .hero {
        grid-area: hero;
    }

    .data {
        grid-area: data;
    }

    .weather {
        grid-area: weather;
    }
}