@media (min-width: 768px) {

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}